/* You can add global styles to this file, and also import other style files */
html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
}

h1 {
    margin-top: 0;
    font-weight: 100;
    color: #ffff;
    font-size: 2em;
    line-height: 1.4em;
}

.title {
    position: absolute;
    width: 668px;
    top: 40%;
    left: 38%;
    transform: translate(-50%, -50%);
}